<ul class="sidebar-elements">
  <li class="parent <%= active_class(admin_dashboard_index_path) %>"><a href="<%= admin_dashboard_index_path %>"><i class="icon s7-graph"></i><span>Dashboard</span></a>
  </li>
  <li class="parent <%= active_class(admin_contacts_path) %>"><a href="<%= admin_contacts_path %>"><i class="icon s7-users"></i><span>Contacts</span></a>
  </li>
  <li class="parent <%= active_class(admin_schedules_path) %>"><a href="<%= admin_schedules_path %>"><i class="icon s7-date"></i><span>Schedules</span></a>
  </li>
   <li class="parent <%= active_class(admin_billing_index_path) %>"><a href="<%= admin_billing_index_path %>"><i class="icon s7-credit"></i><span>Billing</span></a>
  </li>
</ul>
