<div class="am-wrapper am-login am-signup">
  <%= render "shared/alerts" %>
  <div class="am-content">
    <div class="main-content">
      <div class="login-container sign-up">
        <div class="panel panel-default">
          <div class="panel-heading"><img src="<%= asset_path 'logo-full-retina.png' %>" alt="logo" width="150px" height="39px" class="logo-img"></div>
          <div class="panel-body">
          <h3 class="center">Forgot your password?</h3>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), :html => {:class => 'form-horizontal', 'parsley-validate' => '', 'novalidate' => '', method: :post }) do |f| %>
              <div class="sign-up-form">
                <div class="form-group">
                  <div id="email-handler" class="input-group"><span class="input-group-addon"><i class="icon s7-user"></i></span>
                    <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control", 'data-parsley-trigger': "change", 'data-parsley-errors-messages-disabled': "true", 'data-parsley-class-handler': "#email-handler", placeholder: "Email", required: "", autocomplete: "off" %>
                  </div>
                </div>
              </div>
              <%= f.submit "Send Password Reset Instructions", class: "btn btn-block btn-primary btn-lg" %>
            <% end %>
          </div>
        </div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#new_user').parsley();
</script>
