<div class="am-wrapper">
  <%= render "admin/admin" %>
  <div class="am-content">
    <div class="page-head">
      <h2>Billing</h2>
    </div>
    <div class="main-content">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="panel <%= @active_subscription ? 'panel-alt3' : (@user.account_status == 'trial' ? 'panel-alt2' : 'panel-full-primary') %>">
            <div class="panel-heading">
              <span class="title">Subscription</span>
            </div>
            <div class="panel-body">
              <% unless @active_subscription %>
                <% unless @user.days_remaining_in_trial == 0 %>
                  <p>Your trial will be expiring in <%= @user.days_remaining_in_trial %> days.</p>

                    <%= link_to new_admin_billing_subscription_path, remote: true, "data-toggle": "modal", "data-target": "start_subscription" do %>
                      <span class="btn btn-alt2">Start Subscription</span>
                    <% end %>
                    <form action="#" style="border-radius: 0px;" class="form-horizontal group-border-dashed">
                      <div class="form-group">
                        <label class="col-sm-3 control-label">Info</label>
                        <div class="col-sm-6 xs-pt-5">
                          <div class="switch-button switch-button-info">
                            <input type="checkbox" checked="" name="swt6" id="swt6"><span>
                              <label for="swt6"></label></span>
                          </div>
                        </div>
                      </div>
                    </form>
                  <% else %>
                    <p>Your trial has expired. You must subscribe for your schedules to be observed and make changes to your account.</p>
                    <%= link_to new_admin_billing_subscription_path, remote: true, "data-toggle": "modal", "data-target": "start_subscription" do %>
                      <span class="btn btn-dark">Start Subscription</span>
                    <% end %>
                  <% end %>
                <% else %>
                  <% if @owner %>
                    <%= link_to admin_billing_path, method: :delete, data: {confirm: "Your schedules will no longer be observed and no calls will be made."} do %>
                      <span class="btn btn-alt2">Cancel Subscription</span>
                    <% end %>
                  <% end %>
                <% end %>
            </div>
          </div>
        <div class="col-md-2"></div>
      </div>
    </div>
    <% if @active_subscription %>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="panel <%= @card_expired ? 'panel-alt2'  : 'panel-alt3' %>">
            <div class="panel-heading">
              <span class="title">Billing Info</span>
            </div>
            <div class="panel-body">
              <p><strong>Email:</strong> <%= @subscription.email %></p>
              <p><strong>Card Number:</strong> **** **** **** <span id="card_last4"><%= @subscription.card_last4 %></span></p>
              <p><strong>Expiration:</strong> <span id="card_expiration"><%= @subscription.card_expiration.strftime("%m/%Y") %></span></p>
              <p><strong>Card Type:</strong> <span id="card_type"><%= @subscription.card_type %></span></p>
              <% if @owner %>
                <%= link_to new_admin_billing_subscription_card_path(@subscription.id), remote: true, "data-toggle": "modal", "data-target": "change_card" do %>
                    <span class="btn btn-alt2">Change Card</span>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    <% end %>
  </div>
  <div id="start_subscription" class="md-dark custom-width modal fade" tabindex="-1" role="dialog">
  </div>
  <div id="change_card" class="md-dark custom-width modal fade" tabindex="-1" role="dialog">
  </div>
</div>
