<tr>
  <td class="user-avatar"><%= contact.name %></td>
  <td><%= contact.phone %></td>
  <td>
    <a data-modal="edit_contact" class="md-trigger" data-contact='{"name": "<%= contact.name %>", "phone": "<%= contact.phone %>", "id": "<%= contact.id %>"}' id="contact-<%= contact.id %>" data-bind="click: loadContactEditPage">
      <span class="icon actions s7-edit"></span>
    </a>
    <%= link_to admin_contact_path(contact), method: :delete do %>
      <span class="icon actions s7-delete-user"></span>
    <% end %>
  </td>
</tr>
