<tr id="contact-<%= contact.id %>">
  <td id="contact-<%= contact.id %>-name"><%= contact.name %></td>
  <td id="contact-<%= contact.id %>-phone"><%= contact.phone %></td>
  <td class="tools">
    <%= link_to admin_contacts_clone_path(contact), remote: true, "data-toggle": "modal", "data-target": "copy_contact" do %>
      <span class="icon actions s7-copy-file"></span>
    <% end %>
    <%= link_to admin_contact_path(contact), method: :delete, remote: true, data: {confirm: "Deleting this contact will delete any schedules for this contact."} do %>
      <span class="icon actions s7-trash"></span>
    <% end %>
  </td>
</tr>


