<% modal ||= false %>
<% remote = modal ? true : false %>

<%= form_for [:admin, @contact], remote: remote, url: {action: "create", params: {name: @contact.name, phone: @contact.phone}}, html: {role: :form, 'data-model' => 'contact'} do |f| %>
 <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Name' %>
  </div>
  <div class="form-group">
    <%= f.label :phone %>
    <%= f.text_field :phone, autofocus: true, class: 'form-control', placeholder: 'Phone Number' %>
  </div>
  <button type="button" data-dismiss="modal" class="btn btn-default md-close">Cancel</button>
  <%= f.submit "Submit", 'data-dismiss': 'modal', class: 'btn btn-primary md-close'  %>
<% end %>
