<div id="add-contact-form" class="md-modal colored-header custom-width md-effect-9 md-show" style="perspective: none;">
  <div class="md-content">
    <div class="modal-header">
      <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><i class="icon s7-close"></i></button>
      <h3 class="modal-title">Edit Contact</h3>
    </div>
    <div class="modal-body form">
      <%= form_for [:admin, @contact] do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Name' %>
      </div>
      <div class="form-group">
        <%= f.label :phone %>
        <%= f.text_field :phone, autofocus: true, class: 'form-control', placeholder: 'Phone Number' %>
      </div>
      <button type="button" data-dismiss="modal" class="btn btn-default md-close">Cancel</button>
      <%= f.submit "Submit", class: 'btn btn-primary' %>
    </div>
    <% end %>
  </div>
</div>
