<%= form_for [:welcome, @sample_call], remote: true, url: {action: "create", params: {name: @sample_call.name, phone: @sample_call.phone}}, html: {role: :form, 'data-model' => 'contact'} do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: "Name" %>
  </div>
  <div class="form-group">
    <%= f.label :phone %>
    <%= f.text_field :phone, autofocus: true, class: 'form-control', placeholder: "Phone Number", 'data-mask': 'phone' %>
  </div>
  <%= f.submit "Submit", class: 'btn btn-primary'  %>
<% end %>
