<% modal ||= false %>
<% remote = modal ? true : false %>

<%= form_for [:admin, @schedule], :url => '', method: :put, html: {role: :form, 'data-model' => 'schedule', id: 'edit-schedule', class: 'validate-me'} do |f| %>
 <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :contact %>
    <%= f.collection_select(:contact_id, @contacts, :id, :name, {}, {class: 'form-control', id: 'schedule-contact-edit'}) %>
  </div>
  <div class="form-group">
    <%= f.label :message %>
    <%= f.text_field :message, autofocus: true, class: 'form-control', 'data-parsley-trigger': "change", 'data-parsley-errors-messages-disabled': "true", 'data-parsley-class-handler': "#message-handler", placeholder: "Message", required: "", autocomplete: "off", id: 'schedule-message-edit' %>
  </div>
  <%= fields_for @frequency do |u| %>
     <div class="form-group">
       <%= u.label :start_date %>
        <div data-min-view="2" data-date-format="yyyy-mm-dd" class="input-group date datetimepicker col-md-5 col-xs-7">
          <%= u.text_field :start_date, class: 'form-control', id: 'schedule-start-date-edit' %><span class="input-group-addon btn btn-primary"><i class="icon-th s7-date"></i></span>
        </div>
     </div>
     <div class="form-group">
      <%= u.label :time %>
      <div data-min-view="2" class="input-group col-md-2 col-xs-7">
        <%= u.text_field :time, class: 'form-control', id: 'schedule-time-edit', 'data-mask': 'time', 'data-toggle': 'tooltip', 'data-placement':'top', 'data-original-title':'Time on 24h clock' %>
      </div>
    </div>
    <div id="repeat-edit-div" class="am-checkbox">
      <%= u.check_box :repeat, id: 'schedule-repeat-edit' %>
      <label for="frequency_repeat">Repeat?
    </div>
    <div id="repeat-days-edit" class="form-group collapse">
      <div class="am-checkbox inline">
        <%= u.check_box :sunday, id: 'schedule-sunday-edit' %>
        <label for="frequency_sunday" id="frequency_sunday_edit">Sun
      </div>
      <div class="am-checkbox inline">
        <%= u.check_box :monday, id: 'schedule-monday-edit' %>
        <label for="frequency_monday" id="frequency_monday_edit">Mon
      </div>
      <div class="am-checkbox inline">
        <%= u.check_box :tuesday, id: 'schedule-tuesday-edit' %>
        <label for="frequency_tuesday" id="frequency_tuesday_edit">Tue
      </div>
      <div class="am-checkbox inline">
        <%= u.check_box :wednesday, id: 'schedule-wednesday-edit' %>
        <label for="frequency_wednesday" id="frequency_wednesday_edit">Wed
      </div>
      <div class="am-checkbox inline">
        <%= u.check_box :thursday, id: 'schedule-thursday-edit' %>
        <label for="frequency_thursday" id="frequency_thursday_edit">Thu
      </div>
      <div class="am-checkbox inline">
        <%= u.check_box :friday, id: 'schedule-friday-edit' %>
        <label for="frequency_friday" id="frequency_friday_edit">Fri
      </div>
      <div class="am-checkbox inline">
        <%= u.check_box :saturday, id: 'schedule-saturday-edit' %>
        <label for="frequency_saturday" id="frequency_saturday_edit">Sat
      </div>
    </div>
    <div class="form-group">
      <%= u.label :timezone %>
      <%= u.collection_select(:timezone, ActiveSupport::TimeZone.us_zones, :name, :name, {}, {class: 'form-control', id: 'schedule-timezone-edit'}) %>
    </div>
   <% end %>
  <button type="button" data-dismiss="modal" class="btn btn-default md-close">Cancel</button>
  <%= f.submit "Submit", 'data-dismiss': 'modal', class: 'btn btn-primary md-close'  %>
<% end %>
