<% modal ||= false %>
<% remote = modal ? true : false %>

<%= form_for [:admin, @schedule], :url => '', method: :put, html: {role: :form, 'data-model' => 'schedule', id: 'edit-schedule', class: 'validate-me'} do |f| %>
 <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :contact %>
    <%= f.collection_select(:contact_id, @contacts, :id, :name, {}, {class: 'form-control', id: 'schedule-contact-edit'}) %>
  </div>
  <div class="form-group">
    <%= f.label :message %>
    <%= f.text_field :message, autofocus: true, class: 'form-control', 'data-parsley-trigger': "change", 'data-parsley-errors-messages-disabled': "true", 'data-parsley-class-handler': "#message-handler", placeholder: "Message", required: "", autocomplete: "off", id: 'schedule-message-edit' %>
  </div>
  <%= fields_for @frequency do |u| %>
     <div class="form-group">
       <%= u.label :start_date %>
        <div data-min-view="2" data-date-format="yyyy-mm-dd" class="input-group date datetimepicker col-md-5 col-xs-7">
          <%= u.text_field :start_date, class: 'form-control', id: 'schedule-start-date-edit' %><span class="input-group-addon btn btn-primary"><i class="icon-th s7-date"></i></span>
        </div>
     </div>
   <% end %>
  <button type="button" data-dismiss="modal" class="btn btn-default md-close">Cancel</button>
  <%= f.submit "Submit", 'data-dismiss': 'modal', class: 'btn btn-primary md-close'  %>
<% end %>
