<tr id="schedule-<%= schedule.id %>">
  <td id="schedule-<%= schedule.id %>-contact"><%= schedule.contact_name %></td>
  <td id="schedule-<%= schedule.id %>-message"><%= schedule.message %></td>
  <td id="schedule-<%= schedule.id %>-start_datetime"><%= schedule.display_date_time %></td>
  <td id="schedule-<%= schedule.id %>-repeat">
    <% if schedule.frequency_repeat %>
      <%= schedule.repeat_days %>
    <% end %>
  </td>
  <td id="schedule-<%= schedule.id %>-timezine"><%= schedule.frequency_timezone %></td>
  <td class="tools">
    <% if policy(schedule).clone? %>
      <%= link_to admin_schedules_clone_path(schedule), remote: true, "data-toggle": "modal", "data-target": "copy_schedule" do %>
        <span class="icon actions s7-copy-file"></span>
      <% end %>
    <% end %>
    <% if policy(schedule).destroy? %>
      <%= link_to admin_schedule_path(schedule), method: :delete, remote: true, data: {confirm: "Deleting this schedule will stop future calls from being delieverd."} do %>
        <span class="icon actions s7-trash"></span>
      <% end %>
    <% end %>
  </td>
</tr>
