<div class="am-wrapper">
  <%= render "admin/admin" %>
  <div class="am-content">
    <%= render "admin/alerts" %>
    <div class="page-head">
      <h2>Schedules</h2>
    </div>
    <div class="main-content">
       <% if @user.account_status == "canceled" || @user.account_status.match(/\bexpired\b/) %>
        <div class="row">
          <div role="alert" class="alert alert-danger alert-dismissible">
             <span class="icon s7-close-circle"></span><strong>Warning!</strong> Your trial has expired. Calls will not be made until you start your subscription.
           </div>
        </div>
       <% elsif @user.account_status == "trial" %>
        <div class="row">
          <div role="alert" class="alert alert-warning alert-icon alert-dismissible">
            <div class="icon"><span class="s7-attention"></span></div>
            <div class="message">
              Your trial ends in <%= @user.days_remaining_in_trial %> days. Start your subscription to ensure that calls are delivered when your trial ends.
            </div>
          </div>
        </div>
       <% elsif @user.account_status.match(/\bdefault\b/) %>
         <div class="row">
          <div role="alert" class="alert alert-warning alert-icon alert-dismissible">
            <div class="icon"><span class="s7-attention"></span></div>
            <div class="message">
              Your account is in default. We will try payment once a day for a total of three times. Please review your <%= link_to "card details", admin_billing_index_path %> and update if necessary to ensure that calls continue to be delivered.
            </div>
          </div>
         </div>
       <% end %>
      <div class="row">
        <div class="col-sm-12">
          <div class="widget widget-fullwidth widget-small">
            <div class="widget-head">
              <div class="tools">
                <% if policy(@schedule).create? %>
                  <% if @contacts.count == 0 %>
                    <a href="#" class='disabled' id="add-schedule-button" data-toggle="tooltip" data-placement="top" data-original-title="Create a contact before creating schedules.">
                      <span class="icon s7-add-user"></span>
                    </a>
                  <% else %>
                    <%= link_to new_admin_schedule_path, remote: true, "data-toggle": "modal", "data-target": "add_new_schedule" do %>
                      <span class="icon s7-add-user"></span>
                    <% end %>
                  <% end %>
                <% end %>
                </div>
              <div class="title">Your Schedules</div>
            </div>
            <div class="table-responsive">
              <table id="schedules-table" class="table table-striped table-fw-widget table-hover">
                  <thead>
                    <tr>
                      <th width="20%">Contact</th>
                      <th width="30%">Message</th>
                      <th width="8%">Start Date</th>
                      <th width="15%">Repeat</th>
                      <th width="10%">Timezone</th>
                      <th width="8%">Tools</th>
                    </tr>
                  </thead>
                  <tbody class="no-border-x">
                    <%= render partial: "schedule", collection: @schedules %>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="add_new_schedule" class="colored-header custom-width modal fade" tabindex="-1" role="dialog">
  </div>
  <div id="copy_schedule" class="colored-header custom-width modal fade" tabindex="-1" role="dialog">
  </div>
  <%= render "admin/rightsidebar" %>
</div>
<%= render "shared/appfooter" %>

